$sizes: (
    0, 0.1, 0.2, 0.3, 0.4, 0.5,
    0.6, 0.7, 0.8, 0.9, 1, 1.25,
    1.5, 1.75, 2, 2.25, 2.5, 2.75,
    3, 3.25, 3.5, 3.75, 4, 4.25, 4.5, 4.75, 
    5, 5.25, 5.5, 5.75, 6, 6.5, 7, 7.5, 
    8, 8.5, 9, 9.5, 10, 10.5, 11, 11.5, 
    12, 12.5, 13, 13.5, 14, 14.5, 15, 15.5, 16
);

$colors: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    info: $info,
    notice: $notice,
    warning: $warning,
    danger: $danger,
    success: $success,
    bright: $bright,
    dark: $dark,
    light: $light
);

$breakpoints: (
    sm: "min-width: "#{$sm},
    md: "min-width: "#{$md},
    lg: "min-width: "#{$lg},
    xl: "min-width: "#{$xl},
    xxl: "min-width: "#{$xxl},
);

$breakpointspx: (
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
    xxl: $xxl,
);