$primary: #0d6efd;
$secondary: #6610f2;
$tertiary: #d63384;
$info: #0dcaf0;
$notice: #ffc107;
$warning: #fd7e14;
$danger: #dc3545;
$success: #198754;
$light: #f3f3f3;
$bright: #ffffff;
$dark: #000000;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//$font-size: 62.5%;
$font-size: 100%;

$bg: $bright;