.btn {

    @extend .text-dark, .rounded-8, .shadow-4, .text-decoration-none, .outline-none, .border-none;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    cursor: pointer;

    &-sm {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    &-md {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
    }

    &-lg {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }

    &-xl {
        padding: 0.5rem 1rem;
        font-size: 2rem;
    }

    &-xxl {
        padding: 0.5rem 1rem;
        font-size: 2.5rem;
    }

    @each $name, $color in $colors {
    
        &-#{$name} {
            background-color: $color;
            color: text-color($color);

            &:hover {
                background-color: darken($color, 10);
                color: text-color($color);
            }
        }
    
    }

    @each $key, $val in $breakpoints{
        @include breakpoint(#{$key}){

            &-sm-#{$key} {
                padding: 0.5rem 1rem;
                font-size: 1rem;
            }
        
            &-md-#{$key} {
                padding: 0.5rem 1rem;
                font-size: 1.25rem;
            }
        
            &-lg-#{$key} {
                padding: 0.5rem 1rem;
                font-size: 1.5rem;
            }
        
            &-xl-#{$key} {
                padding: 0.5rem 1rem;
                font-size: 2rem;
            }
        
            &-xxl-#{$key} {
                padding: 0.5rem 1rem;
                font-size: 2.5rem;
            }
        
            @each $name, $color in $colors {
            
                &-#{$name}-#{$key} {
                    background-color: $color;
                    color: text-color($color);
        
                    &:hover {
                        background-color: darken($color, 10);
                        color: text-color($color);
                    }
                }
            
            }

        }
    }

}