.table {
    @extend .w-100, .shadow-4;

    td, th {
        text-align: left;
        padding: 10px;
    }

    &-collapse {
        border-collapse: collapse !important;
    }

    &-separate {
        border-collapse: separate !important;
    }

    @each $name, $color in $colors {
        &-#{$name} {
            thead{
                background-color: $color;
                color: text-color($color);
            }
            td, th {
                border: 1px solid $color;
            }
        }
    }

}