.container {
    position: relative;
    width: auto;
    margin-left: auto !important;
    margin-right: auto !important;

    @each $key, $val in $breakpointspx{
        @include breakpoint(#{$key}){
            max-width: $val;
        }
    }

    &-full {
        width: auto;

        @each $key, $val in $breakpointspx{
            @include breakpoint(#{$key}){
                max-width: auto;
            }
        }
    }

}

.d-block { display: block !important; }
.d-compact { display: compact !important; }
.d-grid { display: grid !important; }
.d-inline { display: inline !important; }
.d-inline-block { display: inline-block !important; }
.d-inline-flex { display: inline-flex !important; }
.d-inline-grid { display: inline-grid !important; }
.d-inline-table { display: inline-table !important; }
.d-list-item { display: list-item !important; }
.d-marker { display: marker !important; }
.d-none { display: none !important; }
.d-run-in { display: run-in !important; }


@each $key, $val in $breakpoints{
    @include breakpoint(#{$key}){
        .d-block-#{$key} { display: block !important; }
        .d-compact-#{$key} { display: compact !important; }
        .d-grid-#{$key} { display: grid !important; }
        .d-inline-#{$key} { display: inline !important; }
        .d-inline-block-#{$key} { display: inline-block !important; }
        .d-inline-flex-#{$key} { display: inline-flex !important; }
        .d-inline-grid-#{$key} { display: inline-grid !important; }
        .d-inline-table-#{$key} { display: inline-table !important; }
        .d-list-item-#{$key} { display: list-item !important; }
        .d-marker-#{$key} { display: marker !important; }
        .d-none-#{$key} { display: none !important; }
        .d-run-in-#{$key} { display: run-in !important; }
    }
}